<div>
	<div class="italic font-semibold">
		The data you enter can't be seen by anyone else, since it's in a WebAssembly sandbox. =)
	</div>
	<!-- when keyup fires, send this target.value to the template as a prop for rendering -->

	<div class="flex">
		<div class="flex-1">
			<div class="flex-1">Username:</div>
			<div class="flex-1">
				<!-- 1) input.username_input, 2) context name 3) kwargs: ie. tagvals-->
				<input
					id="{{ input.username_input.id|on('keyup') }}"
					data-context-name="username"
					data-context-value='{{ input.username_input|extend(tag="key", val=0) }}'
					class="rounded border border-blue-400 bg-blue-100 text-neutral-700 p-2 m-2 placeholder:Enter"
					placeholder="{{input.placeholder}}"
					type="text"
				/>
			</div>
		</div>
		<div class="flex-1">
			<div class="flex-1">Password Input:</div>
			<div class="flex-1">
				<input
					id="{{ input.password_input.id|on('keyup') }}"
					data-context-name="password"
					data-context-value="{{ input.password_input.target|tojson }}"
					class="rounded border border-blue-400 bg-red-100 text-neutral-700 p-2 m-2 placeholder:Enter"
					type="password"
				/>
			</div>
		</div>
	</div>
</div>
